In [3]:
import pandas as pd
import numpy as np

In [69]:
df = pd.read_csv("job_postings.csv")

In [70]:
df.head(1)

,job_id,company_id,title,description,max_salary,med_salary,min_salary,pay_period,formatted_work_type,location,...,expiry,closed_time,formatted_experience_level,skills_desc,listed_time,posting_domain,sponsored,work_type,currency,compensation_type
0,85008768,NaN,Licensed Insurance Agent,While many industries were hurt by the last fe...,52000.0,NaN,45760.0,YEARLY,Full-time,"Chico, CA",...,1.710000e+12,NaN,NaN,NaN,1.690000e+12,NaN,1,FULL_TIME,USD,BASE_SALARY

In [71]:
df.shape[0]

15886

In [72]:
## Filter 1
df = df[df['work_type'] == 'FULL_TIME']

In [73]:
df.shape[0]

12844

In [88]:
useful_data = ['title']

In [89]:
words = df[useful_data]

In [90]:
words = words.dropna()

In [91]:
words.shape[0]

12844

In [126]:
result = words.groupby(by='title')

In [134]:
frequency = result.size().sort_values(ascending=False).to_frame()

In [136]:
frequency.head(20).to_csv("WordCloud.csv")

In [137]:
df = pd.read_csv("WordCloud.csv")

In [139]:
df['frequency'] = df['0']/12844 * 100

In [140]:
df.to_csv("WordCloud.csv")