In [127]:
import pandas as pd
import numpy as np

In [128]:
df = pd.read_csv("job_postings.csv")

In [129]:
df.head(1)

,job_id,company_id,title,description,max_salary,med_salary,min_salary,pay_period,formatted_work_type,location,...,expiry,closed_time,formatted_experience_level,skills_desc,listed_time,posting_domain,sponsored,work_type,currency,compensation_type
0,85008768,NaN,Licensed Insurance Agent,While many industries were hurt by the last fe...,52000.0,NaN,45760.0,YEARLY,Full-time,"Chico, CA",...,1.710000e+12,NaN,NaN,NaN,1.690000e+12,NaN,1,FULL_TIME,USD,BASE_SALARY

In [130]:
df.shape[0]

15886

In [131]:
## Filter 1
df = df[df['work_type'] == 'FULL_TIME']

In [132]:
df.shape[0]

12844

In [133]:
words = df['title']

In [134]:
words = pd.DataFrame(words.dropna())

In [135]:
words

                                       title
0                   Licensed Insurance Agent
1                              Sales Manager
3                           Business Manager
4                        NY Studio Assistant
5                           Office Associate
...                                      ...
15879                 Warehouse Operator III
15880                  Sanitation Technician
15882                         Unit Secretary
15884                            MRI Manager
15885  Area Director of Business Development

[12844 rows x 1 columns]

In [19]:
words.shape[0]

12844

In [136]:
result = words.groupby(by='title')

In [25]:
result.size()

title
  AG - BIM - Opportunistic Hires (Recruitment)   1085 ,      1
  React JS + Java Full stack Developer                       1
 Account Manager                                             1
 Accounting Associate (2196)                                 1
 Associate Director Marketing Asset Management               1
                                                            ..
warehouse associate I- 1B                                    1
業務主任/副理                                                      1
海外人才岗                                                        1
纽约/迪拜分公司总经理                                                  1
经理                                                           1
Length: 8924, dtype: int64

In [137]:
frequency = result.size().sort_values(ascending=False).to_frame()

In [138]:
temp = pd.DataFrame(frequency[0].rename('frequency',inplace=True))

In [139]:
temp['frequency'] = temp['frequency']/12844

In [140]:
temp['type'] = 'frequency'

In [142]:
temp = temp.rename_axis('job_title')

In [143]:
temp.head(30).to_csv("WordsCloud.csv")

In [144]:
df = pd.read_csv("WordsCloud.csv")

In [145]:
df

                                            job_title  frequency       type
0                     Sales Director [Owner/Operator]   0.006462  frequency
1                              Retail Sales Associate   0.004204  frequency
2                     Sales Director {Owner/Operator}   0.004204  frequency
3                             Call Center Support Rep   0.002959  frequency
4                                    Staff Accountant   0.002881  frequency
5                          Scoring Content Specialist   0.002803  frequency
6                                   Account Executive   0.002647  frequency
7                                       Sales Manager   0.002569  frequency
8                                   Senior Accountant   0.002569  frequency
9                                 Executive Assistant   0.002414  frequency
10                    Customer Service Representative   0.002336  frequency
11  General Superintendent, Mission Critical - Tra...   0.002258  frequency
12                                         Controller   0.002258  frequency
13            Block Advisor - Remote Tax Professional   0.002258  frequency
14                                    Project Manager   0.002102  frequency
15                             Maintenance Technician   0.002102  frequency
16                                    Sales Associate   0.002024  frequency
17                           Administrative Assistant   0.002024  frequency
18                   Sales Director {Owner/Operator}    0.001869  frequency
19  Customer Service Representative-Farmers Direct...   0.001791  frequency
20                            Assistant Store Manager   0.001635  frequency
21      Customer Success & Services Marketing Manager   0.001635  frequency
22  Sr. Engineering Manager - Opportunity for Work...   0.001557  frequency
23                                Warehouse Associate   0.001557  frequency
24                                 Accounting Manager   0.001557  frequency
25                                  Software Engineer   0.001479  frequency
26                     IT Operations ServiceNow Admin   0.001479  frequency
27                                 Operations Manager   0.001401  frequency
28                       Business Development Manager   0.001401  frequency
29                                    General Manager   0.001401  frequency

In [146]:
useful_data = ['title','max_salary',"med_salary","min_salary"]

In [147]:
original_data = pd.read_csv("job_postings.csv")

In [148]:
temp = original_data[useful_data]
temp.head()

                      title  max_salary  med_salary  min_salary
0  Licensed Insurance Agent     52000.0         NaN     45760.0
1             Sales Manager         NaN         NaN         NaN
2        Model Risk Auditor         NaN         NaN         NaN
3          Business Manager         NaN         NaN         NaN
4       NY Studio Assistant         NaN         NaN         NaN

In [149]:
max = pd.DataFrame(temp[["title",useful_data[1]]].dropna())
med = pd.DataFrame(temp[["title",useful_data[2]]].dropna())
min = pd.DataFrame(temp[["title",useful_data[3]]].dropna())

In [150]:
d = [max,med,min]
type = ['max_salary','med_salary','min_salary']

In [157]:
group = d[0].groupby(by="title")

In [189]:
temp = group.mean()

temp  = temp.sort_values(by = type[0] , ascending=False)
temp = temp.rename_axis('job_title').reset_index()
temp = temp.rename({type[0]:'frequency'},axis='columns')
temp
# temp['type'] = type[0]

# temp = temp.head(30)

# temp

                                              job_title  frequency
0                                Quantitative Developer  1300000.0
1     Fintech Startup | Tech Lead Manager - Software...  1100000.0
2        Tech Lead Manager (L6-L8) | Disruptive FinTech  1000000.0
3                                             Urologist   800000.0
4                       Faculty Affairs Administrator 2   792921.0
...                                                 ...        ...
4035                      AI District 04 - Store Hourly       13.5
4036                Restaurant Crewmember - Night Shift       12.0
4037   Restaurant Crewmember - Opening Shift (7am-10am)       12.0
4038                    IDD Direct Support Professional       11.5
4039     Law Firm Receptionist/Administrative Assistant       10.0

[4040 rows x 2 columns]

In [194]:
output = df

In [195]:
for i in range(0,3):

    group = d[i].groupby(by="title")

    temp = group.mean()

    temp  = temp.sort_values(by = type[i] , ascending=False)
    
    temp = temp.rename_axis('job_title').reset_index()
    
    temp = temp.rename({type[i]:'frequency'},axis='columns')
    
    temp['type'] = type[i]
    
    temp = temp.head(30)
    
    output = pd.concat([output,temp])

In [196]:
output

,job_title,frequency,type
0,Sales Director [Owner/Operator],0.006462,frequency
1,Retail Sales Associate,0.004204,frequency
2,Sales Director {Owner/Operator},0.004204,frequency
3,Call Center Support Rep,0.002959,frequency
4,Staff Accountant,0.002881,frequency
...,...,...,...
25,"Director of Engineering, Growth",245000.000000,min_salary
26,Associate Medical Director,245000.000000,min_salary
27,Family Physician,242500.000000,min_salary
28,Chief Financial Officer – Private Equity,240000.000000,min_salary
29,"Director, Audio and Podcast Advertising, Twitc...",237500.000000,min_salary

In [199]:
output.to_csv('WordCloud.csv')